a
	color: #E38323
a:hover
	color: #E38323	

.container
	max-width: 780px
	
.text-minor
	color: #828282
	
border-minor = 1px solid #fafafa

header
	h1
		text-align: center
	ul
		list-style: none
		padding-left: 0
		display: block
		text-align: center
	li
		display: inline
		padding: 4px 8px

.search
	text-align: center
	input
		width: 220px
		border-radius: 2px
		border: 1px solid #eee

.day-title
	margin-bottom: 16px
	h4
		font-size: 24px
		font-weight: normal
		display: inline-block
	.text-minor
		margin-left: 8px
	
.posts-group
	list-style: none
	padding-left: 0
	
.post
	border-radius: 3px
	border-bottom: border-minor
	
.post:hover
		cursor: pointer
		background-color: #FFFDF7

.post-wrap
	padding: 12px 8px
	display: flex
	align-items: flex-start

.post-upvote-button
	flex: 0 0 32px
	border: 1px solid #eee
	border-radius: 2px
	background-color: #fff
	:hover
		background-color: #eee
	
.upvote-button
	display: block
	text-align: center
	span
		display: block

.upvote-button:hover
	text-decoration: none

.post-content
	padding-left: 16px

.post-title
	font-size: 18px
		
.post-description
	margin-top: 8px
	
.post-interaction
	margin-top: 8px
	// border-top: 1px solid #fafafa
	span
		padding-right: 8px
		@extend .text-minor
		font-size: 12px
	
// .post-build-button
// 	position: absolute
// 	top: 12px
// 	right: -53px



